body {
    background-color: #89B6F9;
    margin: 0;
    padding: 0;
}

#container {
    background-color: white;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: auto;
    border-style: solid;
    border-radius: 5px;
    height: 1050px;
}

#container>h1 {
    text-align: center;
    font-size: 50px;
    font-style: italic;
    margin-bottom: 150px;
    position: relative;
    top: 50px;
}

#about {
    border-top-style: solid;
    border-bottom-style: solid;
    height: 500px;
}
#about> p {
    text-align: center;
    position: relative;
    left: 210px;
    top: 50px;
    width:  800px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    display: inline-block;
    margin: 0;
}
#imaget {
    background-image: url("Pictures/5.jpg");
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    position: relative;
    left: 200px;
    top: 100px;

}
#images {
    background-image: url("Pictures/6.jpg");
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    position: relative;
    float: right;
    bottom: 200px;
    right: 200px;
}

#list {
    display: inline-block;
    position: relative;
    left: 300px;
    top: 90px;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin-right: 100px;
}

button {
    padding: 10px;
    border-radius: 5px;
    border-color: #89B6F9;
}
a {
    padding: 10px;
    text-decoration: none;
    color: #89B6F9;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}
button:hover {
    background-color: #89B6F9;
}
a:hover {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: white;
}