body {
    background-color: #89B6F9;
    margin: 0;
    padding: 0;
}

#container {
    background-color: white;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: auto;
    border-style: solid;
    border-radius: 5px;
    height: 1200px;
}

#container>h1 {
    text-align: center;
    font-size: 50px;
    font-style: italic;
    margin-bottom: 150px;
    position: relative;
    top: 50px;
}

.second {
    border-top-style: solid;
    text-align: center;
    margin-bottom: 150px;
}
#container > .second > h2 {
    margin-bottom: 90px;
    position: relative;
    left: 50px;
    font-size: 40px;
}
#container > .second > h2 > span {
    position: relative;
    top: 35px;
    right: 100px;
}

#container > .second > p {
    font-size: 25px;
    font-style: italic;
}

.faculty {
    text-align: center;
    margin-bottom: 100px;
    border-bottom-style: solid;
}
#container>.faculty>h3 {
    margin-bottom: 90px;
    position: relative;
    left: 20px;
    font-size: 40px;
}
#container>.faculty>p {
    font-size: 25px;
    font-style: italic;
}
#container>.faculty>.image {
    background-image: url("Pictures/4.webp");
    background-repeat: no-repeat;
    width: 170px;
    height: 170px;
    position: relative;
    left: 440px;
}

#list {
    display: inline-block;
    position: relative;
    left: 200px;
    bottom: 45px;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin-right: 100px;
}

button {
    padding: 10px;
    border-radius: 5px;
    border-color: #89B6F9;
}
a {
    padding: 10px;
    text-decoration: none;
    color: #89B6F9;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}
button:hover {
    background-color: #89B6F9;
}
a:hover {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: white;
}