body {
    background-color: #89B6F9;
    margin: 0;
    padding: 0;
}

#container {
    background-color: white;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: auto;
    border-style: solid;
    border-radius: 5px;
    height: 2000px;
}

#container>h1 {
    text-align: center;
    font-size: 50px;
    font-style: italic;
    margin-bottom: 150px;
    position: relative;
    top: 50px;
}
.basketball {
    border-top-style: solid;
    text-align: center;
    margin-bottom: 50px;
}
#container > .basketball > h2 {
    margin-bottom: 50px;
    position: relative;
    font-size: 40px;
    left: 320px;
    top: 150px;
}

#container > .basketball > p {
    font-size: 20px;
    font-style: italic;
    width: 300px;
    position: relative;
    float: right;
    right: 120px;
    top: 150px;
}
#container>.basketball>.imageb {
    background-image: url("Pictures/3.jpg");
    background-repeat: no-repeat;
    width: 612px;
    height: 600px;
    position: relative;
    bottom: 100px;
    left: 20px;
}

.football {
    text-align: center;
    border-bottom-style: solid;
    height: 700px;
}
#container>.football>h3 {
    margin-bottom: 50px;
    position: relative;
    font-size: 40px;
    left: 320px;
    top: 150px;
}
#container > .football > p {
    font-size: 20px;
    font-style: italic;
    width: 300px;
    position: relative;
    float: right;
    right: 120px;
    top: 150px;
}
#container>.football>.imagef {
    background-image: url("Pictures/2.jpg");
    background-repeat: no-repeat;
    width: 700px;
    height: 664px;
    position: relative;
    left: 20px;
    bottom: 100px;
}
#list {
    display: inline-block;
    position: relative;
    left: 300px;
    top: 75px;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin-right: 100px;
}

button {
    padding: 10px;
    border-radius: 5px;
    border-color: #89B6F9;
}
a {
    padding: 10px;
    text-decoration: none;
    color: #89B6F9;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}
button:hover {
    background-color: #89B6F9;
}
a:hover {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: white;
}
